<div class="row" id="admin">
  <div class="col-md-9">
    <header>
      <h1>Admin Area</h1>
    </header>
  </div>

  <div class="col-md-3">
    <h2>Admin Links</h2>
    <ul class="nav nav-stacked">
      <li>Links will come soon...</li>
    </ul>
  </div>
</div>